<h1>Edit Smoothie</h1>

<%= form_for @smoothie do |f|%>
    <%= f.label :name%>
    <%= f.text_field :name%>

    <%= f.label :ingredients%>
    <%= f.text_field :ingredients%>

    <%= f.submit %>
<%end%>